@model MRSTW.Web.Models.LoginForm

@{
    ViewBag.Title = "Sign In";
}

@section Styles
{
    <link rel="stylesheet" href="~/Content/styles/Registrarion.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Itim&display=swap" rel="stylesheet">
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h1 title="Please, fill in all the blank fields">Login</h1>
    <div class="group">
        @Html.LabelFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email, new { @type = "email" })
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="group">
        @Html.LabelFor(x => x.Password)
        @Html.PasswordFor(x => x.Password)
        @Html.ValidationMessageFor(x => x.Password)
    </div>

    <div class="group button_container">
        <button> Sign in </button>
    </div>

    <div class="group">
        @Html.ActionLink("Forgot your password?", "ForgotPassword")
    </div>

    <div class="group">
        @Html.ActionLink("Create an account", "Register")
    </div>
}
