<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>My Blog - @ViewBag.Title</title>

    <!-- Page Styles-->
    @RenderSection("Styles", false)

    <!-- Internal Fonts -->
    <link rel="stylesheet" href="~/Content/styles/Main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Itim&display=swap" rel="stylesheet">
</head>

<body>
    @Html.Partial("_Header")

    <div class="container">
        <div class="breadcrumb">
            @Html.ActionLink("Home", "", "")
            @RenderSection("Breadcrumb", false)
        </div>
        <div class="page">
            @RenderBody()
        </div>
    </div>

    @Html.Partial("_Footer")
</body>
</html>