@model MRSTW.Web.Models.HomePageView

@section Styles
{
    <link rel="stylesheet" href="~/Content/styles/Home.css" />
}

@if (Model.Posts.Length > 0)
{
    <div class="home_layout">
        <div class="home_primary_post_container">
            @Html.Partial("_PostPrimary", Model.Posts.FirstOrDefault())
        </div>

        <div class="home_secondary_post_container">

            @Html.Partial("_PostSecondary", Model.Posts.Skip(1).FirstOrDefault())
            @Html.Partial("_PostSecondary", Model.Posts.Skip(2).FirstOrDefault())

        </div>
    </div>

    <div class="categories">
        @{
            var categories = new string[] { "Anime", "IT", "Nature", "Games", "History" };
            foreach (var category in categories)
            {
                <a href="@Url.Action("Category", "Post", new { id = category })" class="category">@category</a>
            }
        }
    </div>

    <div class="posts_grid">
        @foreach (var post in Model.Posts.Skip(3))
        {
            @Html.Partial("_PostCard", post)
        }
    </div>
}