@model MRSTW.Web.Models.Comment

<div class="comment">
    <div class="title">
        @Model.Author.Name
        <span>at @Model.Created.ToShortDateString() @Model.Created.ToShortTimeString()</span>
    </div>
    <div class="message">@Model.Message</div>

    @if (Model.Reactions != null)
    {
        <div class="react_container">
            @{
                var emojis = Model.Reactions.GroupBy(x => x.Emoji);
            }

            @foreach (var emoji in emojis)
            {
                <div class="react">
                    <div class="reactors">
                        @string.Join(", ", emoji.Select(x => x.User.Name)) reacted with @Html.Raw(@emoji.Key)
                    </div>
                    @Html.Raw(@emoji.Key) @emoji.Count()
                </div>
            }
        </div>
    }
</div>