@model MRSTW.Domain.Entities.Comment

<div class="comment_outer" data-id="@Model.Id">
    <div class="comment_inner">
        <div class="comment_avatar">
            <img src="@Model.Author.Avatar" />
        </div>
        <div class="comment_content">
            <div class="comment_author">
                <div class="comment_author_name">@Model.Author.Name</div>
                <div class="comment_author_time">@Model.Created.ToShortDateString()</div>
            </div>
            <div class="message">@Model.Message</div>
            <div class="comment_footer">
                <div>
                    <a href="javascript:void(0)" onclick="OpenReplyEditor(@Model.Id)">
                        <i class="mdi mdi-reply"></i>
                        Reply
                    </a>
                </div>

                @Html.Partial("_Reactions")
            </div>
        </div>
    </div>

    <div class="comment_thread">
        <div class="comment_reply_spoiler" data-id="@Model.Id">
            @Html.Partial("_CommentEditor", null, new ViewDataDictionary
            {
                ["Type"] = "Comment",
                ["TargetId"] = Model.Id
            })
        </div>

        @foreach (var comment in Model.Comments)
        {
            @Html.Partial("_Comment", comment);
        }
    </div>
</div>
