@using MRSTW.Web.Extensions
@model MRSTW.Domain.Entities.IHasComments

@{
    var sessionUser = Session.GetUser();
}

@using (Html.BeginForm("PostComment", "Post", FormMethod.Post))
{
    @Html.Hidden("Type", Model.GetType().Name)
    @Html.Hidden("TargetId", Model.Id)
    @Html.Hidden("GoBackUrl", Request.Url.AbsoluteUri)
    @Html.AntiForgeryToken()

    <div class="comment_outer post_leave_a_comment">
        @if (sessionUser != null)   
        {
            <div class="comment_avatar">
                <img src="@sessionUser.Avatar" />
            </div>
            <div class="comment_content">
                <textarea name="Message" placeholder="Leave a comment..."></textarea>
            </div>
            <div class="comment_post_button">
                <button class="button primary">
                    <i class="mdi mdi-send"></i>
                </button>
            </div>
        }
        else
        {
            <center>
                <i class="mdi mdi-alert"></i>
                Please <a href="/Auth/Login">Sign In</a> or <a href="/Auth/Register">Sign Up</a> to post comments
            </center>
        }
    </div>
}
