@model MRSTW.Domain.Entities.Comment

<div class="card">
    <div class="comment_inner">
        <div class="comment_avatar">
            <img src="@Model.Author.Avatar" />
        </div>
        <div class="comment_content">
            <div class="comment_author">
                <div class="comment_author_name">@Model.Author.Name</div>
                <div class="comment_author_time">@Model.Created.ToShortDateString()</div>
            </div>
            <div class="message">@Model.Message</div>

        </div>
    </div>

    @if (Model.Comments != null)
    {
        <div class="comment_thread">

            @foreach (var comment in Model.Comments)
            {
                @Html.Partial("_Comment", comment);
            }

        </div>
    }
</div>