@model MRSTW.Web.Models.Post
@{
    ViewBag.Title = $"{Model.Name} - Comments";
}

@section Styles
{
    <link rel="stylesheet" href="~/Content/styles/Post.css" />
}

@section Breadcrumb
{
    &larr; @Html.ActionLink(Model.Name, "Details", new { @id = Model.Id })
    &larr; Comments
}

<div>
    <div class="comments_editor">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div>
                @Html.ValidationSummary(true)
                @Html.Hidden("Id")
            </div>

            <div>
                @Html.Label("Leave a Comment")
                @Html.TextBox("Message")
                @Html.ValidationMessage("message")
            </div>

            <div>
                <button>Submit</button>
            </div>
        }
    </div>

    @foreach (var comment in Model.Comments)
    {
        @Html.Partial("_Comment", comment)
    }
</div>
