@model MRSTW.Domain.Entities.Post
@using MRSTW.Web.Extensions

@{
ViewBag.Title = Model.Name;
}

@section Styles
{
    <link rel="stylesheet" href="~/Content/styles/Post.css" />
}

<style>
    :root {
        --post-thumbnail: url(@Model.Thumbnail);
    }
</style>

<div class="post_thumb">
     <img src="@Model.Thumbnail" />
</div>

<div class="post_backdrop">
    <div class="post_backdrop_blur">

        <div class="post_container">
            <div class="post_content">

                <div class="post_title">@Model.Name</div>
                <div class="post_story">@Model.Story</div>


                @if (Model.Comments.Count > 0)
                {
                    <div class="card post_comments">

                        @Html.Partial("_CommentEditor")

                        @foreach (var comment in Model.Comments)
                        {
                            @Html.Partial("_Comment", comment)
                        }
                    </div>
                }
            </div>
            <div class="post_author">
                <div class="card card_post_manage">

                    <div class="profile_banner" style="background-image: url(@Model.Author.Avatar)">
                        <div class="author_profile">
                            <div class="author_label">Written by</div>
                            <div class="author_avatar">
                                <img src="@Model.Author.Avatar" />
                            </div>
                            <div class="author_name">
                                @Model.Author.Name
                            </div>
                        </div>
                    </div>

                    <div class="post_manage_content">
                        <div class="post_manage_section">
                            <div>Created: <b>@Model.Created.ToLongDateString()</b></div>
                            <div>Views: <b>@Model.Views</b></div>
                            <div>Comments: <b>@Model.Comments.Count</b></div>
                        </div>

                        @if (Session.UserHasRole(MRSTW.Domain.Entities.UserRole.Admin))
                        {
                            <div class="post_manage_section">
                                <a href="@Url.Action("Edit", new { Id = Model.Id })">
                                    <div class="button secondary">
                                        <i class="mdi mdi-pencil"></i> Edit
                                    </div>
                                </a>
                                <a href="@Url.Action("Delete", new { Id = Model.Id })">
                                    <div class="button secondary">
                                        <i class="mdi mdi-delete"></i> Delete
                                    </div>
                                </a>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>