@model MRSTW.Domain.Entities.Post

@{
    ViewBag.Title = "Edit";
}

@section Styles
{
    <link rel="stylesheet" href="~/Content/Styles/Post.css" />
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
    </div>

    <div>
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div>
        @Html.LabelFor(model => model.Story)
        @Html.TextAreaFor(model => model.Story, new { @class = "edit_story" })
        @Html.ValidationMessageFor(model => model.Story)
    </div>

    <div>
        <input type="submit" value="Save" />
    </div>
}